@{
    Layout = null;
}
@Scripts.Render("~/bundles/jquery")
<link href="~/Frame/bootstrap/css/bootstrap.css" rel="stylesheet" />
<script>
    var frames, NodeText, Nodeid, NodeAuthor;
    window.onload = function () {
        frames = window.parent.window.document.getElementById("frame");
    }
    function ShowData(e, id) {
        var title = $(e).html();
        Nodeid = id
        title = title.substring(4, title.length - 5);
        NodeText = title;
        $.ajax({
            type: "get",
            url: '@(Url.Action("ShowData"))?Title=' + title,//注意此文件必须与当前文件在同一目录下
            dataType: "json",
            error: function (textstatus) {

                alert('数据返回失败')
            },
            success: function (result) {//result为任意定义的用于装载参数变量
                var obj = eval(result);
                frames.contentWindow.document.getElementById("frame_").contentWindow.setHtml(decodeURI(obj["Code"]));
                $(window.parent.window.document.getElementById("title")).val(obj["Title"]);
                $(window.parent.window.document.getElementById("author")).html("作者：" + obj["Author"]);
                NodeAuthor = obj[0]["Author"];
            }
        });
    }
    //修改
    function Modify() {

        if (window.parent.USER != NodeAuthor) { alert("不能修改非本账户代码数据"); return; }
        var title = $(window.parent.window.document.getElementById("title")).val(), Code = encodeURI(frames.contentWindow.getHtml());
        if (title != NodeText) {
            alert("搜索界面下禁止修改标题！");
            return;
        }
        var pd = { "id": "ModifyCode", "Title": title, "Code": Code, "Key": Nodeid, "OldTitle": NodeText }
        $.ajax({
            type: "post",
            url: '../Ashx/Handler.ashx',//注意此文件必须与当前文件在同一目录下
            data: pd,
            dataType: "json",
            error: function (textstatus) {

                alert('修改代码出错');
                // $.dialog.alert('错误信息：' + errorThrown, function () { }, winObj);
            },
            success: function (result) {//result为任意定义的用于装载参数变量
                var obj = eval(result);
                Search();
                if ((obj.result + "").substr(0, 2) == "出错") {
                    alert(obj.result);
                } else {
                    alert("修改成功!");
                }
            }
        });
    }

    //切换
    function Shift() {
        $(window.parent.window.document.getElementById("Kind_f")).css("width", "19%");
        $(window.parent.window.document.getElementById("Search_f")).css("width", "0");
    }
    //搜索标题
    function Search() {
        var search = $('#search').val();

        $.ajax({
            type: "get",
            url: '@(Url.Action("SearchTitle"))?Title=' + search,//注意此文件必须与当前文件在同一目录下
            dataType: "json",
            error: function (textstatus) {

                alert('搜索无返回');
                // $.dialog.alert('错误信息：' + errorThrown, function () { }, winObj);
            },
            success: function (result) {//result为任意定义的用于装载参数变量
                var datanav = eval(result);
                var tb = document.getElementById("search_list");
                $('#search_list').html('');
                for (var i = 0; i < datanav.result.length; i++) {
                    var row = tb.insertRow(tb.rows.length);

                    $(row).attr("onclick", "ShowData(this," + JSON.stringify(datanav.objectids[i].objectid) + ")");

                    var c1 = row.insertCell(0);
                    c1.innerHTML = datanav.result[i].title;
                }
            }
        });
    }
</script>
<style>
    td {
        color: black;
    }

        td:hover {
            cursor: pointer;
            color: blue;
        }
</style>
<table style="width:99%;height:100%;margin-left:1%;">
    <tr style="height:12%">
        <td style="width:100%;padding-top:1%">
            <table style="width:100%;height:100%">
                <tr style="height:50%">
                    <td style="width:100%">
                        <input type="text" id="search" style="width:50%;font-size:85%;float:left;height:85%" />
                        <button style="width:22%;float:left;margin-left:3%;font-size:85%" class="btn btn-default" onclick="Search()">搜索</button>
                        <button style="width:22%;float:left;margin-left:3%;font-size:85%" class="btn btn-default2" onclick="Modify()">修改</button>

                    </td>
                </tr>
                <tr style="height:50%">
                    <td style="width:100%">
                        <input type="text" style="width:30%;font-size:85%;float:left;height:85%" />
                        <input type="text" style="width:30%;font-size:85%;float:left;height:85%" />
                        <button style="width:25%;float:left;margin-left:3%;font-size:85%" class="btn btn-default" onclick="Shift()">切换</button>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr style="height:88%">
        <td valign="top" style="padding-top:2%">
            <table id="search_list"></table>
        </td>
    </tr>
</table>
